{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Acerca de mi
{% endblock titulo %}

{% block contenido %}

    <div class="container">
       <h2 class="text-center text-dark">
           Joaquin Arougueti
       </h2>
       <h4 class="text-center text-dark">Acerca de mi</h4>
    </div>
                 <div class="text-center">
                    <p>Me gusta y me interesa poner mi energía en todo lo que sean cosas innovadoras. Esta pagina es producto de un curso de python que es mi primer acercamiento al lenguaje. Hoy 1/9/2023 planeo seguir incursionandome en proyectos sean o no tecnologicos que me permitan usar mis herramientas tanto de este curso como de otras fuentes para poder resolver problemas</p>
                    <p>Elegí python porque era el lenguaje por el cual podía progresar hacia el campo de las inteligencias artificiales, nueva tecnología muy potente que me ilusiona.</p>
                 </div>

{% endblock contenido %}