{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Bolsos
{% endblock titulo %}

{% block contenido %}
<h4>Cantidad de Bolsos en la tabla {{ Bolsos|length }}</h4>
<table>
    <tr>
        <td width="120"><h2>Agregar bolso</h2></td>
        <td>
            <a href="{% url 'createBolso' %}" class="btn btn-primary btn-sm">
                <i class="bi bi-plus-lg" title="New Record"></i>
            </a>
            
        </td>
    </tr>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre de Bolso</th>
            <th>codigo</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
{% for g in Bolsos %}
        <tr>
            <td>{{ g.nombre }}</td>
            <td>{{ g.codigo }}</td>
            <td>{{ g.precio }}</td>
            <td>
                <a href="{% url 'updateBolso' g.id %}" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    <i class="fas fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a href="{% url 'deleteBolso' g.id %}" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    <i class="fas fa-trash fa-sm" title="Delete Record"></i>
                </a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock contenido %}